<!-- include header.ejs file -->
<%- include('./partials/header.ejs') %>
	
	<!-- include nav-bar menu -->
	<%- include('./partials/nav-bar.ejs')%>
	<h3>Welcome to Contact Page</h3>

<!-- include footer -->
<%- include('./partials/footer.ejs') %>