<%- include('./partial/header') %>

<div style="padding-left:16px">
  <h2>Welcome Contact Page</h2>
  <p>Resize the browser window to see how it works.</p>
  <p>Hover over the dropdown button to open the dropdown menu.</p>
</div>

<%- include('./partial/footer') %>